
/*
This file contains colors, graphics, and text effects. For structural markup,
see advanced_forum-structure.css.
*/

/*** PAGER *******************************************************************/

/* This is the pager on the topics in the list */
.topic-pager {
  font-style: italic;
}

/* Other pagers in the forum */
.forum-pager .pager a,
#forum-comments .pager a {
  font-weight: bold;
}

.forum-pager .pager a:link,
.forum-pager .pager a:visited,
#forum-comments .pager a:link,
#forum-comments .pager a:visited {
  background: #edf5fa;
  background: -moz-linear-gradient(top, #cbe2f1, #edf5fa);
  background: -webkit-gradient(linear, left top, left bottom, from(#cbe2f1), to(#edf5fa));
  border: 1px solid #91cdf5;
  font-weight: bold;
  text-decoration: none;
}

.forum-pager .pager-current,
.forum-pager .pager a:hover,
#forum-comments .pager-current,
#forum-comments .pager a:hover {
  color: #0062a0;
}

.forum-pager .pager a.active,
#forum-comments .pager a.active {
  background: #edf5fa;
  background: -moz-linear-gradient(top, #cbe2f1, #edf5fa);
  background: -webkit-gradient(linear, left top, left bottom, from(#cbe2f1), to(#edf5fa));
  color: #0062a0;
}

/*** FORUM & TOPIC LIST ******************************************************/

/* Forum list and topic list tables */
.forum-table {
  border: 1px solid #2587c4;
}

/* Table name and description on forum list and table header on topic list */
.forum-table-wrap .forum-table-superheader,
.forum-table-topics thead tr {
  background: #2587c4;
  background: -moz-linear-gradient(top, #2587c4, #58b3ed);
  background: -webkit-gradient(linear, left top, left bottom, from(#2587c4), to(#58b3ed));
  border-top: 1px solid #2587c4;
  color: #edf5fa;
}

/* Table name on forum list */
.forum-table-superheader .forum-table-name,
.forum-table-superheader .forum-table-name a {
  font-weight: bold;
}


.forum-table th a,
.forum-table th a:visited,
.forum-table th a:link {
  color: #ffffff;
}

/* Table header on forum list */
.forum-table-wrap thead tr {
  background-color: #f5f5f5;
  border: 1px solid #2587c4;
}

/* Table header on forum list and topic list */
.forum-table thead tr a,
.forum-table thead tr a:visited,
.forum-table thead tr a:link {
  color: #ffffff;
  font-weight: bold;
}

/* Reset to avoid bleed-thru from theme */
.forum-table thead th {
  border-bottom: none;
}


/* Rows on both tables */
.forum-table tr.even,
.forum-table tr.odd {
  background: #edf5fa;
  background: -moz-linear-gradient(top, #cbe2f1, #edf5fa);
  background: -webkit-gradient(linear, left top, left bottom, from(#cbe2f1), to(#edf5fa));
  border: none; /* reset */
  border-top: 1px solid #ffffff;
}

/* Active column on both tables - reset to prevent bleed thru from theme */
.forum-table tr.even td.active,
.forum-table tr.odd td.active {
  background-color: transparent;
}

/* Individual cells on both tables */
.forum-table td {
  border: none;
}

/* Placeholder when there are no topics in the list */
.view-advanced-forum-topic-list .view-empty {
  border: 3px solid #2587c4;
}

/*** Sticky topics ***/
.forum-table tr.sticky {
  background-color: #e6edec;
}

.forum-table tr.forum-last-sticky {
  border-bottom: 10px solid #91cdf5;
}

.forum-table .sticky-label {
  font-weight: bold;
}

/*** FORUM STATISTICS *******************************************************/

#forum-statistics {
  border: 1px solid #91cdf5;
}

#forum-statistics-header {
  background: #2587c4;
  background: -moz-linear-gradient(top, #2587c4, #58b3ed);
  background: -webkit-gradient(linear, left top, left bottom, from(#2587c4), to(#58b3ed));
  border-bottom: 1px solid #2587c4;
  border-top: 1px solid #2587c4;
  color: #ffffff;
  font-weight: bold;
}

.forum-statistics-sub-header {
  background-color: #cbe2f1;
  font-weight: bold;
}

.forum-statistics-sub-body {
  background-color: #f5f5f5;
}


/*** FORUM TOPICS **********************************************************/

div.forum-post {
  border: 2px solid #2587c4;
}

/* Header at the top of each post */
.forum-post-info {
  background: #2587c4;
  background: -moz-linear-gradient(top, #2587c4, #58b3ed);
  background: -webkit-gradient(linear, left top, left bottom, from(#2587c4), to(#58b3ed));
  border-bottom: 1px solid #2587c4;
  border-top: 1px solid #2587c4;
  color: #ffffff;
  font-weight: bold;
}

.forum-posted-on {
  font-weight: bold;
}

.forum-forum-post .new {
  color: #ffffff;
}

.forum-post-number a {
  color: #ffffff !important;
}

/* Wrapper around author pane and content */
.forum-post-wrapper {
  background-color: #edf5fa;
}

/* Author information pane */
.forum-post-panel-sub .author-pane .author-name {
  font-weight: bold;
}

.forum-post-panel-sub .author-pane .picture img {
  background-color: #ffffff;
  border: 1px solid #2587c4;
}

.forum-post-panel-sub .author-pane .author-pane-label {
  font-weight: bold;
}

/* Post text area */
.forum-post-panel-main {
  background-color: #ffffff;
  border-left: 1px solid #2587c4;
}

.forum-post-title {
  border-bottom: 1px solid #2587c4;
  font-weight: bold;
}

/* Post footer */
.forum-post-footer {
  background-color: #ffffff;
  border-top: 1px solid #2587c4;
}

/* Box under top post before first reply */
.forum-top-post-footer {
  background: #edf5fa;
  background: -moz-linear-gradient(top, #cbe2f1, #edf5fa);
  background: -webkit-gradient(linear, left top, left bottom, from(#cbe2f1), to(#edf5fa));
  border: 2px solid #2587c4;
}

/* Topic navigation */
.forum-topic-navigation {
  background: #edf5fa;
  background: -moz-linear-gradient(top, #cbe2f1, #edf5fa);
  background: -webkit-gradient(linear, left top, left bottom, from(#cbe2f1), to(#edf5fa));
  border: 2px solid #2587c4;
}

.forum-node-create-links-top,
.forum-node-create-links {
  margin-bottom: 20px;
}

.forum-subscribe-global {
  margin-left: 20px;
}

.forum-subscribe,
.forum-subscription ,
.views-field-subscribe {
  text-align: center;
}
