
/*
This file contains colors, graphics, and text effects.

Colors used:
  #c1c1c1 Borders, post seperator, avatar frame, statistics subheader.
  #333333 Table header font color.
  #f5f5f5 to #dddddd Gradient on table headers, post info, stats header, top
                     post footer, topic navigation.
  #f5f5f5 to #efefef Gradient on topic list background.
  #f5f5f5 Stats section background.
  #fafafa Text area on posts.
*/

/*** PAGER *******************************************************************/

/* This is the pager on the topics in the list */
.topic-pager {
  font-style: italic;
}

.forum-pager .pager a,
#forum-comments .pager a {
  font-weight: bold;
}

.forum-pager .pager a:link,
.forum-pager .pager a:visited,
#forum-comments .pager a:link,
#forum-comments .pager a:visited {
  background: #efefef;
  background: -moz-linear-gradient(top, #f5f5f5, #efefef);
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#efefef));
  border: 1px solid #c1c1c1;
  text-decoration: none;
}

.forum-pager .pager-current,
.forum-pager .pager a:hover,
#forum-comments .pager-current,
#forum-comments .pager a:hover {
  background: #333333;
  color: #ffffff !important;
}

.forum-pager .pager a.active,
#forum-comments .pager a.active {
  color: #333333;
}

/*** FORUM & TOPIC LISTS ******************************************************/

/* Forum list and topic list tables */
.forum-table {
  border: 1px solid #c1c1c1;
}

/* Table name and description on forum list and table header on topic list */
.forum-table-wrap .forum-table-superheader,
.forum-table-topics thead tr {
  background: #dddddd;
  background: -moz-linear-gradient(top, #f5f5f5, #dddddd);
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#dddddd));
  border: 1px solid #c1c1c1;
  color: #333333;
}

/* Table name on forum list */
.forum-table-superheader .forum-table-name,
.forum-table-superheader .forum-table-name a {
  border-bottom: none;
  color: #333333;
  color: #333333;
  font-weight: bold;
  font-weight: bold;
}

/* Table header on forum list */
.forum-table-wrap thead tr {
  background-color: #f5f5f5;
  border: 1px solid #c1c1c1;
}

/* Table header on forum list and topic list */
.forum-table thead tr a,
.forum-table thead tr a:visited,
.forum-table thead tr a:link {
  color: #333333;
  font-weight: bold;
}

/* Reset to avoid bleed-thru from theme */
.forum-table thead th {
  border-bottom: none;
}

/* Rows on both tables */
.forum-table tr.even,
.forum-table tr.odd {
  background: #efefef;
  background: -moz-linear-gradient(top, #f5f5f5, #dddddd);
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#dddddd));
  border-top: 1px solid #c1c1c1;
}

/* Active column on both tables - reset to prevent bleed thru from theme */
.forum-table tr.even td.active,
.forum-table tr.odd td.active {
  background-color: transparent;
}

/* Individual cells on both tables */
.forum-table td {
  border: 1px solid #c1c1c1;
}

/* Placeholder when there are no topics in the list */
.view-advanced-forum-topic-list .view-empty {
  border: 3px solid #c1c1c1;
}

/*** Sticky topics ***/
.forum-table tr.forum-last-sticky {
  border-bottom: 10px solid #c1c1c1;
}

.forum-table .sticky-label {
  font-weight: bold;
}

/*** FORUM STATISTICS *********************************************************/

#forum-statistics {
  border: 1px solid #c1c1c1;
}

#forum-statistics-header {
  background: #dddddd;
  background: -moz-linear-gradient(top, #efefef, #dddddd);
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#dddddd));
  border-top: 1px solid #c1c1c1;
  color: #333333;
  font-weight: bold;
}

.forum-statistics-sub-header {
  border-bottom: 1px solid #c1c1c1;
  border-top: 1px solid #c1c1c1;
  font-weight: bold;
}

.forum-statistics-sub-body {
  background-color: #f5f5f5;
}

/*** FORUM TOPICS **********************************************************/

div.forum-post {
  border: 1px solid #c1c1c1;
}

/* Header at the top of each post */
.forum-post-info {
  background: #dddddd;
  background: -moz-linear-gradient(top, #efefef, #dddddd);
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#dddddd));
  border-bottom: 1px solid #c1c1c1;
  border-top: 1px solid #fafafa;
  color: #333333;
  font-weight: bold;
}

.forum-posted-on {
  font-weight: bold;
}

.forum-post-number a {
  color: #333333 !important;
}

/* Wrapper around author pane and content */
.forum-post-wrapper {
  background-color: #f5f5f5;
}

/* Author information pane */
.forum-post-panel-sub .author-pane .author-name {
  font-weight: bold;
}

.forum-post-panel-sub .author-pane .picture img {
  background-color: #ffffff;
  border: 1px solid #c1c1c1;
}

.forum-post-panel-sub .author-pane .author-pane-label {
  font-weight: bold;
}

/* Post text area */
.forum-post-panel-main {
  background-color: #fafafa;
  border-left: 1px solid #c1c1c1;
}

.forum-post-title {
  border-bottom: 1px solid #c1c1c1;
  font-weight: bold;
}

/* Signature */
.author-signature {
  font-size: .8em;
}

/* Post footer */
.forum-post-footer {
  border-top: 1px solid #c1c1c1;
}

.forum-jump-links {
  border-right: none;
}

/* Box under top post before first reply */
.forum-top-post-footer {
  background: #dddddd;
  background: -moz-linear-gradient(top, #f5f5f5, #dddddd);
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#dddddd));
  border: 1px solid #c1c1c1;
}

/* Topic navigation */
.forum-topic-navigation {
  background: #dddddd;
  background: -moz-linear-gradient(top, #f5f5f5, #dddddd);
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#dddddd));
  border: 1px solid #c1c1c1;
}

.forum-node-create-links-top,
.forum-node-create-links {
  margin-bottom: 20px;
}

.forum-subscribe-global {
  margin-left: 20px;
}

.forum-subscribe,
.forum-subscription ,
.views-field-subscribe {
  text-align: center;
}
