
/* Since this style inherits from Blue Lagoon, only a few adjustments are
   needed to account for having the Author Pane on top.
*/

/* Reset styles not needed with AP on top */
.forum-post-wrapper {
  background-color: transparent;
}

.forum-post-panel-main,
.forum-post-links {
  background-color: transparent;
  border-left: none;
}

/* Add in our AP styling */
.forum-post-panel-sub {
  background-color: #edf5fa;
  border-bottom: 2px solid #91cdf5;
}
