/* FORUM LIST ICONS *********************************************************/

.forum-list-icon-wrapper {
  background: #b5cddf;
  background: -moz-linear-gradient(top, #b5cddf, #c8dbea);
  background: -webkit-gradient(linear, left top, left bottom, from(#b5cddf), to(#c8dbea));
  border-top: 1px solid #ffffff;
  color: #3c78a7;
}

tr.even td.forum-folder .forum-list-icon-wrapper span,
tr.odd td.forum-folder .forum-list-icon-wrapper span {
  background: transparent url(images/forum_list_default.png) no-repeat center center;
}

tr.even td.forum-folder-new-posts .forum-list-icon-wrapper span,
tr.odd td.forum-folder-new-posts .forum-list-icon-wrapper span,
.forum-list-icon-legend .forum-list-icon-new-posts {
  background: transparent url(images/forum_list_new_posts.png) no-repeat center center;
}

/* BUTTONIZED LINKS - GENERAL ***********************************************/
/* Based on http://css-tricks.com/examples/ButtonMaker */

a.af-button-large,
a.af-button-large:link,
a.af-button-large:visited,
a.af-button-small,
a.af-button-small:link,
a.af-button-small:visited,
a.author-pane-link,
a.author-pane-link:link,
a.author-pane-link:visited {
  color: #3c78a7;
}

.af-button-large,
.af-button-small,
.author-pane-link {
  background: #edf5fa;
  background: -moz-linear-gradient(top, #edf5fa, #c8dbea);
  background: -webkit-gradient(linear, left top, left bottom, from(#edf5fa), to(#c8dbea));
  border-top: 1px solid #ffffff;
  color: #3c78a7;
}

a.af-button-large:hover,
a.af-button-small:hover,
a.author-pane-link:hover {
  background: #c8dbea;
  border-top-color: #efefef;
  color: #3c78a7;
}

a.af-button-large:active,
a.af-button-small:active,
a.author-pane-link:active {
  background: #c8dbea;
  border-top-color: #efefef;
  color: #3c78a7;
}
