
/*
This file contains colors, graphics, and text effects.

Colors used:
  #3c78a7 fonts
  #c8dbea main border, header background
  #edf5fa background #1
  #e7f2f9 background #2
*/

/*** PAGER *******************************************************************/

.forum-pager .pager a:link,
.forum-pager .pager a:visited,
#forum-comments .pager a:link,
#forum-comments .pager a:visited {
  background: #edf5fa;
  background: -moz-linear-gradient(top, #cbe2f1, #edf5fa);
  background: -webkit-gradient(linear, left top, left bottom, from(#cbe2f1), to(#edf5fa));
  border: 1px solid #c8dbea;
  color: #3c78a7;
}

.forum-pager .pager-current,
.forum-pager .pager a:hover,
#forum-comments .pager-current,
#forum-comments .pager a:hover {
  background: #3c78a7;
  color: #ffffff !important;
}

.forum-pager .pager a.active,
#forum-comments .pager a.active {
  color: #333333;
}


/*** FORUM & TOPIC LIST ******************************************************/

/* General */
.forum-table {
  background-color: white;
  border: 1px solid #c8dbea !important;
  border-collapse: separate;
  color: #494949;
  margin: 0 0 10px;
  padding: 0;
  width: 100%;
}

/* Main header on forum list */
/* Background instead of background-color to reset from Silver Bells */
.forum-table-wrap .forum-table-superheader {
  background: #c8dbea;
  border: 1px solid #c8dbea;
}

/* Table header on forum list and topic list*/
.forum-table thead tr {
  background: #edf5fa;
  background: -moz-linear-gradient(top, #edf5fa, #c8dbea);
  background: -webkit-gradient(linear, left top, left bottom, from(#edf5fa), to(#c8dbea));
  border-top: 1px solid #ffffff;
  color: #3c78a7;
  line-height: 1.5em;
  padding: 2px 5px;
}

.forum-table thead tr a,
.forum-table thead tr a:visited,
.forum-table thead tr a:link {
  color: #3c78a7;
}

/* Rows, both tables */
.forum-table tr.odd {
  background: #edf5fa;
}

.forum-table tr.even {
  background: #e7f2f9;
}

/* Active column on both tables - reset to prevent bleed thru from theme */
.forum-table tr.even td.active,
.forum-table tr.odd td.active {
  background-color: transparent;
}

/* Individual cells on both tables */
/* Structure here because this is unique to this style */
.forum-table td {
  border: none;
  line-height: 1.5em;
  padding: 4px;
}

/* Placeholder when there are no topics in the list */
.view-advanced-forum-topic-list .view-empty {
  border: 3px solid #c8dbea;
}

/*** Sticky topics ***/
.forum-table tr.forum-last-sticky {
  border-bottom: 10px solid #c8dbea;
}

.forum-table .sticky-label {
  font-weight: bold;
}

/*** FORUM STATISTICS *********************************************************/
#forum-statistics {
  border: 1px solid #c8dbea;
}

#forum-statistics-header {
  background: #edf5fa;
  background: -moz-linear-gradient(top, #edf5fa, #c8dbea);
  background: -webkit-gradient(linear, left top, left bottom, from(#edf5fa), to(#c8dbea));
  border-top: 1px solid #ffffff;
}

.forum-statistics-sub-header {
  background-color: #e7f2f9;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  color: #3c78a7;
}

.forum-statistics-sub-body {
  background-color: #edf5fa;
  color: #494949;
}

/*** FORUM TOPICS **********************************************************/

div.forum-post {
  border: 1px solid #c8dbea !important;
}

/* Header at the top of each post */
.forum-post-info,
.forum-post-wrapper,
.forum-post-footer {
  background: #edf5fa;
  background: -moz-linear-gradient(top, #edf5fa, #c8dbea);
  background: -webkit-gradient(linear, left top, left bottom, from(#edf5fa), to(#c8dbea));
  border: 2px solid white;
  color: #3c78a7;
}

.forum-post-info {
  background-color: #c8dbea;
  border-bottom: none;
  color: #3c78a7;
  margin-bottom: 0;
}

.forum-post-number a {
  color: #3c78a7 !important;
}

/* Wrapper around AP and content */
.forum-post-wrapper {
  background-color: #e7f2f9;
  border-bottom: 2px solid white;
}

/* Author information pane */
.forum-post-panel-sub {
  color: #3c78a7;
}

/* Author information pane */
.forum-post-panel-sub .author-pane .picture img {
  background-color: #ffffff;
  border: 1px solid #c8dbea;
  padding: 5px;
}

/* Post text area */
.forum-post-panel-main {
  background-color: white;
  border: none;
}

.forum-post-title {
  background-color: #edf5fa;
  border-bottom: none;
  border-left: 2px solid white;
  color: #3c78a7;
  line-height: 225%;
  padding-bottom: 2px;
}

/* Post footer */
.forum-post-footer {
  background-color: #edf5fa;
  color: #3c78a7;
}

.forum-jump-links {
  border-right: none;
}

/* Box under top post before first reply */
.forum-top-post-footer {
  background: #edf5fa;
  background: -moz-linear-gradient(top, #edf5fa, #c8dbea);
  background: -webkit-gradient(linear, left top, left bottom, from(#edf5fa), to(#c8dbea));
  border: 1px solid #c8dbea;
  color: #3c78a7;
}

/* Topic navigation */
.forum-topic-navigation {
  background: #edf5fa;
  background: -moz-linear-gradient(top, #edf5fa, #c8dbea);
  background: -webkit-gradient(linear, left top, left bottom, from(#edf5fa), to(#c8dbea));
  border: 1px solid #c8dbea;
  color: #3c78a7;
}

.forum-node-create-links-top,
.forum-node-create-links {
  margin-bottom: 20px;
}

.forum-subscribe-global {
  margin-left: 20px;
}

.forum-subscribe,
.forum-subscription ,
.views-field-subscribe {
  text-align: center;
}
